html, body {
  background-color: gray;
}

body {
  padding: 10px;
}

.dropdown-div {
  display: inline-flex;
}

.dropdown-class {
}





/*
.Dropdown-placeholder {
  background-color: white;
  border-top: 10%;

}

.Dropdown-placeholder:hover {
  background-color: rgb(222, 171, 242);
}


.dropdown-div >:hover {
  background-color: yellow;
}
.dropdown-div {
  border-color: blue;
  background-color: grey;
  font-style: italic;
  border-width: thick;
  font-size: 88;
  background: red;
}
*/
